body {
    margin: 0px;
    text-align: center;
    background-color: whitesmoke;
    background-image: url('../assets/download.svg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #363768;
    position: relative;
}

.container-fluid {
    padding: 0px;
}

header nav {
    width: 100%;
}

header nav a {
    font-size: x-large;
    color: #e8f2f8;
}



header nav li:hover {
    background-color: #03aa978c;
    border-radius: 5px;
}

nav h2 {
    font-size: x-large;
    padding-top:30px;
    padding-right: 30px; 
}

header article {
    padding-top: 70px;
    width: 100%
}

header img {
    align-self: flex-start;
    margin-left: 0px;
    padding-left: 0px;
}


header nav .dropdown button {
    color: #e8f2f8;
    font-size: x-large;
}

header nav .dropdown button:hover {
    background-color: #03aa978c;
    color: #e8f2f8;
}

.dropdown-menu {
    background: #03aa978c;
}

.dropdown-menu a {
    color: #e8f2f8;
    background: #03aa978c;

}

.dropdown-menu a:hover {
   background-color: #363768;
   color: #03aa96;
}

label {
    color:#03aa96;
    font-size: 30px;
    display: flex;
    justify-items: flex-start; 
}