body {
    margin: 0px;
    text-align: center;
    background-color: whitesmoke;
    background-image: url('../assets/download.svg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #363768;
    position: relative;
}

.logo {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 20px ;

}
.container-fluid {
    padding: 0px;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('../assets/hero_home_bg_1.svg');
    background-position: center;
    background-size: cover;
    /* position: relative; */
}

/* nav button {
    position: fixed;
    z-index: 1;
    top:5%;
    right: 20px;

} */

header nav {
    width: 100%;
}

header nav a {
    font-size: x-large;
    color: #e8f2f8;
   
}

header nav li:hover {
    background-color: #03aa978c;
    border-radius: 5px;
    color: #e74e84;

}

nav h2 {
    font-size: x-large;
    padding-top:30px;
    padding-right: 30px; 
}

header article {
    padding-top: 70px;
    width: 100%
}

header img {
    align-self: flex-start;
    margin-left: 0px;
    padding-left: 0px;
}

article h1 {
    margin: 0px;
    margin-bottom: 30px;
    color: white;
    font-size: 80px;
    font-family: 'Marck Script', cursive;
    text-shadow: 5px 5px 10px black;
    padding: 0px;
    padding-right: 0px;

}

header article input {
    border: none;
    font-size: large;
    padding: 15px;
    margin: 0px;
    width: 200px;
    border-radius: 10px;
}

.search {
    cursor: pointer;
    background: #03aa96;
    color: white;
    font-weight: bold;
    width: 100px;
}

.search:hover {
    background-color: #e74e84;
}

#page {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    padding: 120px 0px 95px 0px;
    background-color: #e8f2f8;
    
}

#page article h2 {
    font-family:'Seaweed Script', cursive;
    font-size: 50px;
}

#page article p {
    width: 80%;
    display: inline-block;
}

#page .Find,.view,.bdel {
    background-color: white;
    height: 298px;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px  rgba(128, 128, 128, 0.459);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#page .Find section {
    text-align: center;
    background-image: url('../assets/undraw_file_searching_duff.svg');
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    width: 120px;
    height: 120px;  
}

#page .view section {
    background-image: url('../assets/icon-home-2.svg');
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    width: 120px;
    height: 120px;   
}

#page .bdel section {
    background-image: url('../assets/icon-home-3.svg');
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    width: 120px;
    height: 120px;
}

#page .find {
    width: 100%;
}

#page input {
    background-color: #e74e84;
    color: white;
    height: 50px;
    width: 150px;
    border: 0px;
    border-radius: 30px;
    align-self: center;
    justify-content: center;
    margin: 30px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
}

#page input:hover {
    background-color: #03aa96;
    font-size: large;

}

#page h3 {
    color: #e74e84;
    font-size: x-large;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px black;
}

#page p {
    font-size: large;
    padding: 0px 10px;
}

.inf {
    height: 100vh;
    background-color: none;
    color: #e8f2f8;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.inf h2 {
    font-family:'Seaweed Script', cursive;
    font-size: 50px;
}

.inf p {
    height: auto;
    font-size: large;
    font-size-adjust: 0.58;
}

.badel {
    height: auto;
    border: 5px solid #e8f2f8;
    border-radius: 20px;
}

/* #inf {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #e8f2f8;
    background-color: #3637688c;
    text-shadow: 2px 2px 5px black;

}



#inf h2 {
    font-family:'Seaweed Script', cursive;
    font-size: 50px;
}

#inf p {
    font-size: large;
    font-size-adjust: 0.58;
}

#inf section {
    border: 5px solid #e8f2f8;
    border-radius: 20px;
    color: #e8f2f8;
    padding: 30px;
}

#inf section h3 {
    font-size: XX-large;
} */

.our {
    height: 150vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/liste.jpg');
    background-position: center;
    background-size: cover;
}

.Services {
    height: 90%;
    width: 90%;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    background-color: #363768;
    border-radius: 20px;
}

.Services h2 {
    height:auto;
    width: 100%;
    color: #e8f2f8;
    font-family:'Seaweed Script', cursive;
    font-size: 100px;
    padding-top: 20px;
    margin: 0px;
}

/* .Services div {
    display: flex;
    justify-content: space-around;
    align-content: space-between; 
    width: 50%;
    height: 100px;
    color: #e8f2f8;
}

.Services article {
    width: 65%;
    height: 400px;
    text-align: start;
    text-shadow: 2px 2px 5px black;

} */

/* .Services div section {
    width: 50%;
    height: 100%;
} */

.media {
    height: auto;
    color: #e8f2f8;
    text-align: start;
    text-shadow: 2px 2px 5px black;
    margin: 10px auto;
}

h5 {
    color: #03aa96;
}

.img1 {
    width: 100px;
    height: 100px;
    background-image: url('../assets/heart.svg');
    background-position: center;
    background-size: cover;
}

.img2 {
    width: 100px;
    height: 100px;
    background-image: url('../assets/finger.svg');
    background-position: center;
    background-size: cover;
}

.img3 {
    width: 100px;
    height: 100px;
    background-image: url('../assets/plaster\ \(2\).svg');
    background-position: center;
    background-size: cover;
}

.img4 {
    width: 100px;
    height: 100px;
    background-image: url('../assets/pharmacy.svg');
    background-position: center;
    background-size: cover;
}

.img5 {
    width: 100px;
    height: 100px;
    background-image: url('../assets/arm.svg');
    background-position: center;
    background-size: cover;
}

.img6 {
    width: 100px;
    height: 100px;
    background-image: url('../assets/24-hours-delivery.svg');
    background-position: center;
    background-size: cover;
}

/* #list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    margin: 0px;
    color: #e8f2f8;
    position: relative;
    
}

 #list section {
    height: 80%;
    width: 51%;
    background-image: url('../assets/undraw_to_do_list_a49b.svg');
    background-position: center;
    background-size: cover;
}
 #list article {
    position: absolute; 
    z-index: 2; 
    top: 10%;
    left: 20px;
    width: 70%;   
} 

#list p {
    width: 80%;
    font-size: large;
    text-align: start;
    text-shadow: 2px 2px 5px black;
}

#list h2 {
    font-family: 'Marck Script', cursive;
    font-size: 60px;
    text-align: start;
    padding-bottom: 40px; 
    text-shadow: 3px 3px 9px black;
}

#list input {
    border: none;
    font-size: x-large;
    color: #e8f2f8;
    cursor: pointer;
    padding: 15px;
    margin: 0px;
    width: 400px;
    border-radius: 10px;
    background-color: #03aa96;

}

#list input:hover {
    background-color: #e74e84;
    font-family: 'Marck Script', cursive;
    font-size: xx-large;
} */

.endpage {
    height: 50vh;
    
    background-color: #e8f2f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: gray;
}

.endpage .endX a{
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-decoration: none;
}

.endpage .contactX {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: start;
}


/* .endpage div {
    width: 25%;
} */

/* .endpage .contactX h3 {
    padding-bottom: 20px;
    text-align: center;
} */

.endpage .linkX {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.endpage h3 {
    color: #03aa96;
}

.endpage .linkX li a {
    text-decoration: none;
    color: gray;
    padding: 0px 10px;
}

.endpage .linkX li {
    list-style: none;
    display: block;
    text-align: start;
    padding-bottom: 20px;
}

.endpage .linkX ul {
    padding: 0px;
}

.endpage .linkX a:hover {
    color: #e74e84;
}

footer {
    text-align: center;
    font-size: small; 
    color: #e8f2f8;   
} 

@media screen and (max-width: 980px) {
.our {
    height: auto;
}

.Services {
    height: auto;
    margin: 15px auto;
}

.endpage {
    height: auto;
}

}